body {
    background: moccasin;
}
.tasabih-buttons {
    display: grid;
  grid-template-rows: repeat(3,1fr);
  justify-content: center;
}
.heading {
    width: 100%;
    background: mediumturquoise;
    margin: 20px;
    border-radius: 5px;
}
.heading h1, .heading h2 {
    text-align: center;
    color: brown;
}
.inputs {
    display: flex;
    gap: 1rem;
    position: relative;
    left: 40px;
}
.inputs input {
 width: 200px;
 height: 30px;
 background: mediumturquoise;
 color: brown;
 text-align: center;
 font-size: 15px;
 border-radius: 5px;
}
.buttons {
    text-align: center;
    position: relative;
    top: -200px;
    display: flex;
    gap: 1rem;
    left: 50px;
}
.buttons button {
    width: 200px;
    height: 30px;
    background:brown ;
    color:  mediumturquoise ;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}
.reset-button {
    text-align: center;
    position: relative;
    top: -430px;
}
.reset-button button {
    width: 200px;
    height: 30px;
    background:white ;
    color:  brown;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 5px;
}
@media screen and (max-width: 900px) {
    .tasabih-buttons {
        display: grid;
      grid-template-rows: repeat(3,1fr);
      justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    .tasabih-buttons {
        display: grid;
      grid-template-rows: repeat(3,1fr);
      justify-content: center;
    }
    .heading {
        width: 300px;
        position: relative;
        left: 0px;
    }
    .inputs {
        left: 0px;
    }
    .inputs input {
        width: 100px;
        font-size: 30px;
       }
    .buttons {
        top: -420px;
        left: 10px;
    }
    .buttons button {
        width: 100px;
    }
    .reset-button {
        top: -840px;
    }

}